<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/foundation/5.5.1/css/foundation.css">
</head>
<body>
	<div class="row">
		<div class="medium-3 columns">
		</div>
		<div class="medium-9 columns">
			<div data-bind="component: {
				name: component(),
				params: {
					io: io('/' + component())
				} }"></div>
		</div>
	</div>
	<script src="//cdnjs.cloudflare.com/ajax/libs/knockout/3.3.0/knockout-min.js"></script>
	<script src="/socket.io/socket.io.js"></script>
	<script src="/api/modules/components"></script>
	<script src="/js/app.js"></script>
</body>
</html>