<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/foundation/5.5.1/css/foundation.css">
</head>
<body>
	<form action="/sign-up" method="POST">
		<div class="row">
			<div class="small-12 columns">
				<label>Your Name</label>
				<input type="text" name="your_name">
				<label>Your Companion's Name</label>
				<input type="text" name="their_name">
				<label>Password</label>
				<input type="password" name="password">
				<button type="submit">Login</button>
			</div>
		</div>
	</form>
</body>
</html>